@inherits LayoutComponentBase

<main class="main-container">
    

    @Body

</main>

<BlazoredToasts IconType="IconType.FontAwesome"
                SuccessClass="success-toast-override"
                SuccessIcon="far fa-check-circle" 
                ShowProgressBar="true" />
